:root {
    --black: #0E0B16;
    --fuschia: #A239CA;
    --blue: #4717F6;
    --grey: #E7DFDD;
}

#input-column {
    margin-left: auto;
}

#weather-info {
    padding-right: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    line-height: 1.6;
}

.model-open-btn{
    background: #A239CA;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 50%;
    position: absolute;
    left: 50%;
}

.btn:hover{
    background: #333;
}

.modal{
    display: none;
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 50%;
    height: 50%;
    width: 30%;
    overflow: auto;
    background-color: #E7DFDD;
}

.model-body {
    background-color:#4717F6;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0);
    animation-name:modalopen;
    animation-duration: 1s;
}

.model-close-button {
    color: #000;
    float: right;
    font-size: 30px;
}

.close-button:hover,.close-button:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0}
    to {opacity: 1}
}