:root {
    --black: #0E0B16;
    --fuschia: #A239CA;
    --blue: #4717F6;
    --grey: #E7DFDD;
}

#modal-btn{
    border-color: #4717F6;
    padding: 1em 2em;
    color: #E7DFDD;
    border: 2px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    color: #4717F6;
    
}

.modal{
    display: none;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 50%;
    height: 50%;
    width: 30%;
    overflow: auto;
    background-color: #0e0b16;
    color: #E7DFDD;
}

.modal-header {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: #4717F6;
    padding: 10px;
}

.modal-body {
    width: 70%;
    animation-name: modalopen;
    animation-duration: 1s;
    padding: 20px;
}

.modal-footer {
    padding: 20px;
}

#modal-close {
    color: #E7DFDD;
    float: right;
    font-size: 30px;
}

.close-button:hover,.close-button:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0}
    to {opacity: 1}
}